<style>
.icon-discord:before {
  content: "\e900";
  color: #7289da;
}

.icon-vsco:before {
  content: "\e901";
}
</style>

<link rel="stylesheet" href="/apps-brands-social-icons/style.css">

{% if page.bg %}
  <aside class="sidebar" role="note" style="background-image: url({{ site.images | relative_url }}/{{ page.bg }})">
{% else %}
  <aside class="sidebar" role="note" style="background-image: url({{ site.images | relative_url }}/bg.svg)">
{% endif %}

  <div class="cover">
    
    <div class="cover-text">
      <img id="protrait2D" type="image" alt="My Bitmoji-Bitstrip's Protrait in 2D" height="120" width="120">
        
      <script>
        var path = document.location.pathname;
        var directory = path.substring(path.indexOf('/'), path.lastIndexOf('/'));  
        
        var directories = directory.split('/');
        var isMainTab = true;
          
        if(directories.length == 3) {
            isMainTab = false;
        }
        
        var protrait2DPathSrc = '';
          
        if(isMainTab) {
            protrait2DPathSrc = '../assets/images/protrait-2d-1.png';    
        }
        else {
            protrait2DPathSrc = '../../assets/images/protrait-2d-1.png';
        }
          
        var protrait2DElem = document.getElementById("protrait2D");
        
        protrait2DElem.src = protrait2DPathSrc;
      </script>
    
      <div class="myname">
          <a href="https://rubenandrebarreiro.github.io/">Rúben André Barreiro</a>
      </div>
        
      <hr/>
      <div class="shortbio">
          ♏ 90's | 🎂 26 years | 🏠 From Lisbon, PT | 📍 Living in Almada, PT
          <br>
          🎓 Integrated Master (BSc./MSc. bologna degree) @ FCT NOVA
          <br>
          💻 Computer Science Engineer | 👨‍💻 IT/IS Programmer & Technician
          <br>
          💼 Entrepreneur | 👥 Influencer | 💡 Promoter | 👔 Fashioner
          <br>
          ✏️ Designer | 📸 Photographer | 🎥 Producer | 🏋️ Athlete | 🚶 Model
      </div>
      <hr/>
    
      <br>
      
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/v4-shims.css">
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
      <link rel="stylesheet" href="https://cdn.rawgit.com/jpswalsh/academicons/master/css/academicons.min.css">    
    
      <div class="heading">
        Academic and Professional
      </div>     
      
      <hr/>
        
      <div class="w3-container w3-xlarge w3-padding">
          <a target="_blank" href="https://www.linkedin.com/in/rubenandrebarreiro/" title="Rúben André Barreiro on LinkedIn"><i class="fa fa-linkedin w3-hover-text-blue" title="Rúben André Barreiro on LinkedIn"></i></a>
          <a target="_blank" href="https://github.com/rubenandrebarreiro/" title="Rúben André Barreiro on GitHub"><i class="fa fa-github w3-hover-text-dark-gray" title="Rúben André Barreiro on GitHub"></i></a>
          <a target="_blank" href="https://gitlab.com/rubenandrebarreiro/" title="Rúben André Barreiro on GitLab"><i class="fa fa-gitlab w3-hover-text-orange" title="Rúben André Barreiro on GitLab"></i></a>
          <a target="_blank" href="https://bitbucket.org/rubenandrebarreiro/" title="Rúben André Barreiro on Atlassian Bitbucket"><i class="fa fa-bitbucket w3-hover-text-blue" title="Rúben André Barreiro on Atlassian Bitbucket"></i></a>
          <a target="_blank" href="https://utaustinportugal.academia.edu/rubenandrebarreiro/" title="Rúben André Barreiro on Academia"><i class="ai ai-academia w3-hover-text-dark-gray" title="Rúben André Barreiro on Academia"></i></a>
          <a target="_blank" href="https://mathoverflow.net/users/134256/r%C3%BAben-andr%C3%A9-barreiro" title="Rúben André Barreiro on MathOverflow"><i class="ai ai-mathoverflow w3-hover-text-orange" title="Rúben André Barreiro on MathOverflow"></i></a>
          <a target="_blank" href="https://www.mendeley.com/profiles/ruben-andre-barreiro/" title="Rúben André Barreiro on Mendeley"><i class="ai ai-mendeley w3-hover-text-dark-gray" title="Rúben André Barreiro on Mendeley"></i></a>
          <a target="_blank" href="http://orcid.org/0000-0003-2572-8949" title="Rúben André Barreiro on ORCiD"><i class="ai ai-orcid w3-hover-text-lime" title="Rúben André Barreiro on ORCiD"></i></a>
          <a target="_blank" href="https://publons.com/researcher/1670842/ruben-andre-barreiro/" title="Rúben André Barreiro on Publons"><i class="ai ai-publons w3-hover-text-blue" title="Rúben André Barreiro on Publons"></i></a>
          <a target="_blank" href="https://www.researchgate.net/profile/Ruben_Barreiro" title="Rúben André Barreiro on ResearchGate"><i class="ai ai-researchgate w3-hover-text-teal" title="Rúben André Barreiro on ResearchGate"></i></a>
          <a target="_blank" href="http://www.researcherid.com/rid/A-6299-2019" title="Rúben André Barreiro on ResearcherID"><i class="ai ai-researcherid w3-hover-text-dark-gray" title="Rúben André Barreiro on ResearcherID"></i></a>
          <a target="_blank" href="https://stackoverflow.com/story/rubenandrebarreiro" title="Rúben André Barreiro on Stack Overflow"><i class="fa fa-stack-overflow w3-hover-text-orange" title="Rúben André Barreiro on Stack Overflow"></i></a>
      </div>

      <hr/>
      
      <br>
      <br>
    
      <div class="heading">
        Social and Personal
      </div>
        
      <hr/>
        
      <div class="w3-container w3-xlarge w3-padding">
          <a target="_blank" href="https://www.facebook.com/rubenandrebarreiro/" title="Rúben André Barreiro (BadNewz) on Facebook"><i class="fa fa-facebook-official w3-hover-text-indigo" title="Rúben André Barreiro (BadNewz) on Facebook"></i></a>
          <a target="_blank" href="https://www.facebook.com/ruben.badnewz/" title="Rúben BadNewz on Facebook"><i class="fa fa-facebook-official w3-hover-text-indigo" title="Rúben BadNewz on Facebook"></i></a>
          <a target="_blank" href="https://www.facebook.com/badnewz.lifestyle/" title="BadNewz Lifestyle on Facebook"><i class="fa fa-facebook-official w3-hover-text-indigo" title="BadNewz Lifestyle on Facebook"></i></a>
          <a target="_blank" href="https://www.facebook.com/badnewz.streetwear.clothing/" title="BadNewz Streetwear Clothing on Facebook"><i class="fa fa-facebook-official w3-hover-text-indigo" title="BadNewz Streetwear Clothing on Facebook"></i></a>
          <a target="_blank" href="https://www.facebook.com/badnewz.suits.co/" title="BadNewz Suits on Facebook"><i class="fa fa-facebook-official w3-hover-text-indigo" title="BadNewz Suits & Co. on Facebook"></i></a>
          <a target="_blank" href="https://www.facebook.com/badnewz.fitness.sport/" title="BadNewz Fitness and Sport on Facebook"><i class="fa fa-facebook-official w3-hover-text-indigo" title="BadNewz Fitness & Sport on Facebook"></i></a>
          <a target="_blank" href="https://www.facebook.com/badnewz.fragances/" title="BadNewz Fragances on Facebook"><i class="fa fa-facebook-official w3-hover-text-indigo" title="BadNewz Fragances on Facebook"></i></a>
          <a target="_blank" href="https://www.facebook.com/badnewz.liquor/" title="BadNewz Liquor on Facebook"><i class="fa fa-facebook-official w3-hover-text-indigo" title="BadNewz Liquor on Facebook"></i></a>
          <a target="_blank" href="https://www.facebook.com/badnewz.photo.lab/" title="BadNewz Photo Lab on Facebook"><i class="fa fa-facebook-official w3-hover-text-indigo" title="BadNewz Photo Lab on Facebook"></i></a>
          <a target="_blank" href="https://www.facebook.com/badnewz.productions/" title="BadNewz Productions on Facebook"><i class="fa fa-facebook-official w3-hover-text-indigo" title="BadNewz Productions on Facebook"></i></a>
          
		  <br>
		  
		  <a target="_blank" href="https://www.instagram.com/ruben.badnewz/" title="Rúben André Barreiro (BadNewz) on Instagram"><i class="fa fa-instagram w3-hover-text-orange" title="Rúben André Barreiro (BadNewz) on Instagram"></i></a>
          <a target="_blank" href="https://www.instagram.com/badnewz.lifestyle/" title="BadNewz Lifestyle on Instagram"><i class="fa fa-instagram w3-hover-text-orange" title="BadNewz Lifestyle on Instagram"></i></a>
          <a target="_blank" href="https://www.instagram.com/badnewz.streetwear.clothing/" title="BadNewz Streetwear Clothing on Instagram"><i class="fa fa-instagram w3-hover-text-orange" title="BadNewz Streetwear Clothing on Instagram"></i></a>
          <a target="_blank" href="https://www.instagram.com/badnewz.suits.co/" title="BadNewz Suits & Co. on Instagram"><i class="fa fa-instagram w3-hover-text-orange" title="BadNewz Suits & Co. on Instagram"></i></a>
          <a target="_blank" href="https://www.instagram.com/badnewz.fitness.sport/" title="BadNewz Fitness & Sport on Instagram"><i class="fa fa-instagram w3-hover-text-orange" title="BadNewz Fitness & Sport on Instagram"></i></a>
          <a target="_blank" href="https://www.instagram.com/badnewz.fragances/" title="BadNewz Fragances on Instagram"><i class="fa fa-instagram w3-hover-text-orange" title="BadNewz Fragances on Instagram"></i></a>
          <a target="_blank" href="https://www.instagram.com/badnewz.liquor/" title="BadNewz Liquor on Instagram"><i class="fa fa-instagram w3-hover-text-orange" title="BadNewz Liquor on Instagram"></i></a>
          <a target="_blank" href="https://www.instagram.com/badnewz.photo.lab/" title="BadNewz Photo Lab on Instagram"><i class="fa fa-instagram w3-hover-text-orange" title="BadNewz Photo Lab on Instagram"></i></a>
          <a target="_blank" href="https://www.instagram.com/badnewz.productions/" title="BadNewz Productions on Instagram"><i class="fa fa-instagram w3-hover-text-orange" title="BadNewz Productions on Instagram"></i></a>
          
          
          <br>
          
		  <a target="_blank" href="https://www.twitter.com/ruben_badnewz/" title="Rúben André Barreiro (BadNewz) on Twitter"><i class="fa fa-twitter w3-hover-text-cyan" title="Rúben André Barreiro (BadNewz) on Twitter"></i></a>
          <a target="_blank" href="https://badnewz-lifestyle.com/" title="BadNewz Lifestyle on WordPress"><i class="fa fa-wordpress w3-hover-text-blue" title="BadNewz Lifestyle on WordPress"></i></a>
          <a target="_blank" href="https://www.reddit.com/user/ruben_barreiro_92" title="Rúben André Barreiro (BadNewz) on Reddit"><i class="fa fa-reddit w3-hover-text-gray" title="Rúben André Barreiro (BadNewz) on Reddit"></i></a>
          <a target="_blank" href="someLink"><i class="fa fa-youtube w3-hover-text-red"></i></a>
          <a target="_blank" href="https://badnewz-lifestyle.tumblr.com/" title="BadNewz Lifestyle on Tumblr"><i class="fa fa-tumblr w3-hover-text-indigo" title="BadNewz Lifestyle on Tumblr"></i></a>
          <a target="_blank" href="https://www.pinterest.com/ruben_badnewz/" title="Rúben BadNewz (BadNewz Lifestyle) on Pinterest"><i class="fa fa-pinterest-p w3-hover-text-red" title="Rúben BadNewz (BadNewz Lifestyle) on Pinterest"></i></a>
          <a target="_blank" href="someLink"><i class="fa fa-flickr w3-hover-text-purple"></i></a>
          <a target="_blank" href="someLink"><i class="fa fa-500px w3-hover-text-dark-gray"></i></a>
          <a target="_blank" href="http://vsco.co/ruben-badnewz/" style="text-decoration: none" onmouseover="this.style.color='#848484'" onmouseout="this.style.color='#FFFFFF'">
              <span class="icon-vsco" title="Rúben André Barreiro (BadNewz Lifestyle) on VSCO" style="font-size:20px"></span>
          </a>
          <i class="fa fa-snapchat w3-hover-text-yellow" title="ruben.badnewz on Snapchat"></i>
          <a href="https://rubenandrebarreiro.github.io/contacts#other-social-links-usernames-content" title="Other Social Links/Usernames"><i class="fa fa-comments w3-hover-text-light-blue" title="Other Social Links/Usernames"></i></a>
          <a href="https://rubenandrebarreiro.github.io/contacts#emails-content" title="My E-mails"><i class="fas fa-at w3-hover-text-yellow" title="My E-mails"></i></a>
      </div>
      <hr/>
    
      <center>
          <div class="sidebarinfoinstructions">
            *** Click in the right side of this tab, to open/close it ***
            <br>
            © 2019 Rúben André Barreiro - GitHub's Porfolio/Personal Blog
            <br>
            All rights reserved
          </div>
      </center>
    </div>

  </div>

  <div id="switcher"></div>
</aside>
